/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    /* CSS */
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 838px) and (max-width: 1038px) {
    /* CSS */
    .over_img {
        width: 838px;
    }
}

@media (min-width: 609px) and (max-width: 838px) {
    /* CSS */
    .over_img {
        width: 609px;
    }
}

@media (min-width: 334px) and (max-width: 609px) {
    /* CSS */
    .over_img {
        width: 334px;
    }
}

@media (min-width: 200px) and (max-width: 334px) {
    /* CSS */
    .over_img {
        width: 200px;
    }
}

@media (min-width: 200px) and (max-width: 628px) {
    /* CSS */
    .column_footer1 {
        width: 100%;
        text-align: center;
    }
    .logo_footer {
        float: left;
        height: 30px;
        margin-top: 30px;
        margin-left: 50px;
    }
    .column_footer2 {
        width: 100%;
    }
    .column_footer3 {
        width: 100%;
        float: left;
    }
    .address {
        width: 100%;
        float: left;
        font-size: 8px;
        margin-top: 40px;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    /* CSS */
    .column {
        float: left;
        width: 100%;
        padding: 15px;
    }
    .logo_footer {
        float: left;
        height: 20px;
        margin-top: 30px;
    }
}

@media (min-width: 570px) and (max-width: 840px) {
    /* CSS */
    .logo {
        float: left;
        height: 30px;
        vertical-align: middle;
        margin-top: 20px;
        margin-left: 50px;
    }
}

@media (min-width: 334px) and (max-width: 570px) {
    /* CSS */
    .logo {
        float: left;
        height: 30px;
        vertical-align: middle;
        margin-top: 20px;
        margin-left: 5px;
    }
}

@media (min-width: 0px) and (max-width: 950px) {
    /* CSS */
    .btn_job {
        font-size: 13px;
        position: static;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        text-decoration: none;
    }
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    /* CSS */
}